<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.alone.mappers.board">
	<!-- 수강신청 게시판  mapper 시작  -->
 	
	<!-- 수강신청 게시판  mapper 1. 게시글 개수 조회 -->
	<select id="countBoard" resultType="int">
		select count(*) from tbl_class_board
		<include refid="search"></include>
	</select> 
	
	<!-- 수강신청 게시판  mapper 2. 메인 홈페이지에서 3개의 최신 수강신청 글만 조회 -->
  	<select id="countThird" resultType="RegistBoardVo">
		select class_board_title , class_board_content , class_board_userid
		from (select * from tbl_class_board order by class_board_postdate desc)
		<![CDATA[where rownum <= 3]]>
	</select>
	
	<!-- 수강신청 게시판  mapper 3. 메인 홈페이지에서 3개의 최신 자주묻는 질문 글만 조회 -->
	<select id="faqThird" resultType="RegistBoardVo">
		select class_board_title , class_board_content , class_board_userid
		from (select * from tbl_class_board order by class_board_viewcnt desc)
		<![CDATA[where class_board_viewcnt >= 10]]>
	</select>
	
	<!-- 수강신청 게시판  mapper 3. 제목 클릭했을 때의 내용 보이기 -->
	<select id="getBoard" resultType="RegistBoardVo">
		select * from tbl_class_board
		where class_board_title = #{class_board_title}
	</select>
		
	<!-- 수강신청 게시판  mapper 4. 마지막에 올린글이 맨밑으로 보이게 하기 -->
	<select id="listboard" resultType="RegistBoardVo">
		select * from tbl_class_board
		<include refid="search"></include>
		order by class_board_number desc
	</select>
	
	<!-- 수강신청 게시판  mapper 5. 수강신청 게시판 게시물 등록 -->
	<insert id="registClassBoard">
		insert into tbl_class_board(class_board_number , class_board_enroll , class_board_title , class_board_content , class_board_userid)
		values(seq_class_number.nextval , #{class_board_enroll} , #{class_board_title} , #{class_board_content} , #{class_board_userid})		
	</insert>
	
	<!-- 수강신청 게시판  mapper 6. 검색 키워드 , 몇개씩 보기에 따름 -->
	   <sql id="search">
   		<if test="searchType != null and keyword != null">
			<choose>
				<when test=' searchType == "n" '> 
					where class_board_number like '%' || #{keyword} || '%' 
				</when>
				<when test=' searchType == "w" '> 
					where class_board_userid like '%' || #{keyword} || '%' 
				</when>
				<when test=' searchType == "t" '> 
					where class_board_title like '%' || #{keyword} || '%'
				</when>
				<when test=' searchType == "c" '>
					where class_board_content like '%' || #{keyword} || '%'
				</when> 
			</choose>
		</if> 
   </sql>
   
   <!-- 수강신청 게시판  mapper 7. 아이디 기준 게시글 제목과 내용 수정 -->
   <update id="modcontent">
   		update tbl_class_board
   		set class_board_content = #{class_board_content} , class_board_title = #{class_board_title}
   		where class_board_userid = #{class_board_userid}
   </update>
	
	<!-- 수강신청 게시판  mapper 8. 게시글 제목 클릭 시 조회수 증가 -->   
  	<update id="viewcnt">
		update tbl_class_board
		set class_board_viewcnt = class_board_viewcnt + 1
		where class_board_title = #{class_board_title}
	</update>
	
	<!-- 수강신청 게시판  mapper 9. 상담 게시글 삭제 -->
	<delete id="deleteBoard">
		delete from tbl_class_board
		where class_board_content = #{class_board_content}
	</delete>
	
	<!-- 수강신청 게시판 mapper 끝 -->
	
</mapper>