<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.alone.mappers.class">
	
	
	<select id="selectAll" resultType="ClassInfoVo">
		select * from tbl_class
	</select>
	
	<!-- 주간반 -->
	<select id="selectWeekly" resultType="ClassInfoVo">
		select * from tbl_class
		where c_day = '주간반'
	</select>
	
	<!-- 주말반 -->
	<select id="selectWeekend" resultType="ClassInfoVo">
		select * from tbl_class where c_day = '주말반'
	</select>
	
	<!-- 야간반 -->
	<select id="selectNight" resultType="ClassInfoVo">
		select * from tbl_class
		where c_day = '야간반'
	</select>
	
	
</mapper>