<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.alone.mappers.class">

	<!-- 관리자 수업 추가하기 -->
	<insert id="insertClassInfo">
		insert into tbl_class(c_cate, c_title, c_term, c_time, c_room, c_total, c_pay, c_day)
		values(#{c_cate}, #{c_title}, #{c_term}, #{c_time}, #{c_room}, #{c_total}, #{c_pay}, #{c_day})
	</insert>
	
		
	<!-- 전체보기 -->
	<select id="selectAll" resultType="ClassInfoVo">
		select * from tbl_class
	</select>
	
	<!-- 주간반 -->
	<select id="selectWeekly" resultType="ClassInfoVo">
		select * from tbl_class
		where c_day = '주간반'
	</select>
	
	<!-- 주말반 -->
	<select id="selectWeekend" resultType="ClassInfoVo">
		select * from tbl_class where c_day = '주말반'
	</select>
	
	<!-- 야간반 -->
	<select id="selectNight" resultType="ClassInfoVo">
		select * from tbl_class
		where c_day = '야간반'
	</select>
	
	<!-- 수업 과정별 나누기 -->
	
	<!-- 프로그래밍 -->
	<select id="selectPro" resultType="ClassInfoVo">
		select * from tbl_class
		where c_cate = '프로그래밍'
	</select>
	
	<!-- 디자인 -->
	<select id="selectDesign" resultType="ClassInfoVo">
		select * from tbl_class
		where c_cate = '디자인'
	</select>
	
	<!-- 제품디자인 -->
	<select id="selectProduct" resultType="ClassInfoVo">
		select * from tbl_class
		where c_cate = '제품디자인'
	</select>
	
	<!-- 3D프린트 -->
	<select id="selectPrint" resultType="ClassInfoVo">
		select * from tbl_class
		where c_cate = '3D프린트'
	</select>
	
	<!-- 사무자동화 -->
	<select id="selectOffice" resultType="ClassInfoVo">
		select * from tbl_class
		where c_cate = '사무자동화'
	</select>
	
	
	<!-- 신청양식 추가하기 -->
	<insert id="insertOnlineRegist">
		insert into online_regist(r_num, c_day, c_cate, c_title, c_name, gender, foreigner, phone_num, home_num, e_mail, 
								  regist_path, employment, employment_center, employment_counselor, employment_num)
								  
		values(#{r_num}, #{c_day}, #{c_cate}, #{c_title}, #{c_name}, #{gender}, #{foreigner}, #{phone_num}, #{home_num, jdbcType=VARCHAR}, #{e_mail, jdbcType=VARCHAR}, 
		       #{regist_path, jdbcType=VARCHAR}, #{employment, jdbcType=VARCHAR}, #{employment_center, jdbcType=VARCHAR}, #{employment_counselor, jdbcType=VARCHAR}, #{employment_num, jdbcType=VARCHAR})
	</insert>


	<!-- 신청양식 전체보기 -->
	<select id="selectOnline_regist" resultType="OnlineRegistVo">
		select * from online_regist
	</select>
	
	<!-- 주민번호로 신청한거 조회하기 -->
	<select id="selectMine" resultType="OnlineRegistVo">
<!-- 		select * from online_regist -->
<!-- 		where r_num = #{r_num} -->
		
	</select>
</mapper>