<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.alone.mappers.customer">

	<!-- 메인 홈페이지 건의사항 항목 , 3개의 최신 건의사항 글만 조회 -->
	<select id="inquiryThird" resultType="InquiryBoardVo">
		select inquiry_title , inquiry_content , inquiry_userid
		from (select * from tbl_inquiry_board order by inquiry_date desc)
		<![CDATA[where rownum <= 3]]>
	</select> 
	
	<!-- 메인 홈페이지에서 자주 묻는 질문 - 건의사항 글 3개만 조회 -->
	<select id="inquiryRecent" resultType="InquiryBoardVo">
		select inquiry_title , inquiry_content , inquiry_userid
		from (select * from tbl_inquiry_board order by inquiry_viewcnt desc)
		<![CDATA[where inquiry_viewcnt >= 10 and rownum <= 3]]>
	</select>
	
	<!-- 메인 홈페이지 수강신청 항목 ,  3개의 최신 수강신청 글만 조회 -->
  	<select id="classRecent" resultType="RegistBoardVo">
		select class_board_title , class_board_content , class_board_userid
		from (select * from tbl_class_board order by class_board_postdate desc)
		<![CDATA[where rownum <= 3]]>
	</select>
	
	<!-- 메인 홈페이지에서 자주 묻는 질문 - 수강신청 글 3개만 조회 -->
	<select id="classRegThird" resultType="RegistBoardVo">
		select class_board_title , class_board_content , class_board_userid
		from (select * from tbl_class_board order by class_board_viewcnt desc)
		<![CDATA[where class_board_viewcnt >= 10 and rownum <= 3]]>
	</select>
	
	<!-- 수강신청의 제목으로 시작하는 모든 내용들 찾기 -->
	<select id="classFindTitle" resultType="RegistBoardVo">
		select * from tbl_class_board
		where class_board_title like '%'||#{class_board_title}||'%'
	</select>
	
	<!-- 건의사항의 제목으로 시작하는 모든 내용들 찾기 -->
	<select id="inquiryFindTitle" resultType="InquiryBoardVo">
		select * from tbl_inquiry_board
		where inquiry_title like '%'||#{inquiry_title}||'%'
	</select>

</mapper>