<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper         
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"         
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.alone.mappers.home">
	
	<select id="checkId" resultType="MemberVo">
		select * from tbl_member
		where userid = #{userid}
	</select>
	
	<select id="login" resultType="MemberVo">
		select * from tbl_member
		where userid = #{userid}
		and userpw = #{userpw}
	</select>
	
	<select id="id_search" resultType="MemberVo">
		select * from tbl_member
		where username = #{username}
		and email = #{email}
	</select>
	
	<select id="pw_search" resultType="MemberVo">
		select * from tbl_member
		where username = #{username}
		and email = #{email}
		and userid = #{userid}
	</select>
	
</mapper>