<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper         
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"         
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.test02.mappers.lookJob">
	<select id="selectAll" resultType="LookJobVo">
		select * from lookJob
		order by jobno desc
	</select>
	
    <select id="getLookJob" resultType="LookJobVo">
       select * from lookJob
       where jobno = #{jobno}
       order by jobno desc
    </select>
    
	<select id="lookJobTestList" resultType="JobTestVo">
		select tno, title, writers, to_char(sysdate, 'YYYY-MM-DD')
		test_date, to_char(sysdate, 'HH:MI') test_time from test
		order by tno desc
	</select>
	
	<select id="getTest" resultType="JobTestVo">
		select * from test
		where tno = #{tno}
		order by tno desc
	</select>
	
	<select id="testImage" resultType="JobTestVo">
		select * from images
		where tno = #{tno}
		order by tno desc
	</select>
	
	<select id="findPositionList" resultType="FindVo">
		select * from find
		order by fno desc
	</select>
	
	<select id="getFind" resultType="FindVo">
		select * from find
		where fno = #{fno}
		order by fno desc
	</select>
	
	<select id="findImage" resultType="FindVo">
		select * from f_images
		where fno = #{fno}
		order by fno desc
	</select>
	
</mapper>