<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.member">
		
	<insert id="insertTeam">
		insert into tbl_member(userid, userpw, userpwd, username, birthdate , email, gender, pnumber)
		values (#{userid}, #{userpw}, #{userpwd}, #{username}, #{birthdate}, #{email}, #{gender}, #{pnumber})
	</insert>
	
	<select id="selectAll" resultType="MemberVo">
		select * from tbl_member
		order by userid
	</select>
	
	<!-- 답글 -->
	<select id="memberBoardForm" resultType="MemberBoardVo">
		select bno, title, content, userid, to_char(sysdate, 'YYYY-MM-DD')
		regdate from tbl_memberboard
	</select>
	
	<!-- 답글 추가 -->
	<insert id="insertReply">
		insert into tbl_memberboard 
			(bno, title, content, userid, 
			 re_group, re_seq, re_level)
		values
			(seq_bno.nextval, #{title}, #{content}, #{userid}, 
			#{re_group}, #{re_seq} + 1, #{re_level} + 1)
	</insert>		
	<!--  회원정보 수정 -->
	<select id="memberModify" resultType="MemberVo">
		select * from tbl_member
		where userid = #{userid}
	</select>
	
	<!--  회원탈퇴  -->
	<select id="memberOut" resultType="MemberVo">
		 select * from tbl_member
		 where userid = #{userid}
	</select>
</mapper>