<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.member">
		
	<insert id="insertTeam">
		insert into tbl_member(userid, userpw, userpwd, username, birthdate , email, gender, pnumber)
		values (#{userid}, #{userpw}, #{userpwd}, #{username}, #{birthdate}, #{email}, #{gender}, #{pnumber})
	</insert>
	
	<select id="selectAll" resultType="MemberVo">
		select * from tbl_member
		order by userid
	</select>
	<!-- 답글 -->
	<select id="memberBoardForm" resultType="MemberBoardVo">
		select bno, title, content, userid, to_char(sysdate, 'YYYY-MM-DD')
		regdate from tbl_memberboard
	</select>
	
	<!-- 전체보기 -->
<!-- 	<select id="selectAll" resultType="MemberVo"> -->
<!-- 		select * from tbl_member -->
<!-- 	</select> -->
	
	<!-- 주간반 -->
<!-- 	<select id="selectWeekly" resultType="MemberVo"> -->
<!-- 		select * from tbl_member -->
<!-- 		where c_day = '주간반' -->
<!-- 	</select> -->
	
	<!-- 주말반 -->
<!-- 	<select id="selectWeekend" resultType="MemberVo"> -->
<!-- 		select * from tbl_member  -->
<!-- 		where c_day = '주말반' -->
<!-- 	</select> -->
	
	<!-- 야간반 -->
<!-- 	<select id="selectNight" resultType="MemberVo"> -->
<!-- 		select * from tbl_member -->
<!-- 		where c_day = '야간반' -->
<!-- 	</select> -->
			
	<!--  회원정보 수정 -->
	<select id="memberModify" resultType="MemberVo">
		select * from tbl_member
		where userid = #{userid}
	</select>
	
	
</mapper>