<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper			
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"			
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ex01.mappers.member">
		
	<insert id="insertTeam">
		insert into tbl_member(userid, userpw, userpwd, username, birthdate , email, gender, pnumber)
		values (#{userid}, #{userpw}, #{userpwd}, #{username}, #{birthdate}, #{email}, #{gender}, #{pnumber})
	</insert>
	
	<select id="selectAll" resultType="MemberVo">
		select * from tbl_member
		order by userid
	</select>
	
		<!-- 로그인 -->
<!-- 	<select id="login" resultType="MemberVo"> -->
<!-- 		select * from tbl_member -->
<!-- 		where userid = #{userid} -->
<!-- 		and userpw = #{userpw} -->
<!-- 	</select> -->
			
	<!--  회원정보 수정 -->
	<select id="memberModify" resultType="MemberVo">
		select * from tbl_member
		where userid = #{userid}
	</select>
	
</mapper>